<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark, phone, address, user_name, consignee, cancel_reason, rejection_reason, cancel_time, estimated_delivery_time, delivery_status, delivery_time, pack_amount, tableware_number, tableware_status)
        VALUES (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod}, #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{cancelReason}, #{rejectionReason}, #{cancelTime}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{deliveryTime}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>
    <insert id="insertOrderDetail">
        insert into order_detail ( name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount)
        values
            <foreach collection="ol" item="orderDetail" separator=",">
                (#{orderDetail.name}, #{orderDetail.image}, #{orderDetail.orderId}, #{orderDetail.dishId}, #{orderDetail.setmealId}, #{orderDetail.dishFlavor}, #{orderDetail.number}, #{orderDetail.amount})
            </foreach>
    </insert>
    <update id="update">
        update orders
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus},
            </if>
            <if test="payMethod != null">
                pay_method = #{payMethod},
            </if>
            <if test="cancelReason != null">
                cancel_reason = #{cancelReason},
            </if>
            <if test="rejectionReason != null">
                rejection_reason = #{rejectionReason},
            </if>
            <if test="checkoutTime != null">
                checkout_time = #{checkoutTime},
            </if>
        </set>
        <where>
            <if test="number!=null">and number = #{number}</if>
            <if test="id!=null">and id = #{id}</if>
        </where>
    </update>

    <update id="cancel">
        update orders
        <set>
            <if test="cancelReason!=null and cancelReason!=''">cancel_reason = #{cancelReason},</if>
            <if test="cancelTime!=null">cancel_time = #{cancelTime},</if>
            <if test="status!=null">status = #{status}</if>
        </set>
        where id =#{id}
    </update>

    <select id="findOrder" resultType="com.sky.vo.OrderVO">
        select * from orders
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime!=null and endTime!=null">
                and order_time between #{beginTime} and #{endTime}
            </if>
            <if test="phone!=null and phone!=''">
                and phone = #{phone}
            </if>
        </where>
        order by order_time desc
    </select>

    <select id="findOrderDetailByOrderId" resultType="com.sky.entity.OrderDetail">
        select * from order_detail where order_id = #{id}
    </select>
    <select id="StaticCount" resultType="com.sky.dto.OrderStatusDTO">
        select count(*) num,status from orders group by status
    </select>
    <select id="findOrderByIdOrNumber" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="id!=null">and id=#{id}</if>
            <if test="numbers!=null and numbers!=''">number = #{numbers}</if>
        </where>
    </select>
    <select id="countOrders" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="startTime!=null">and order_time &gt; #{startTime}</if>
            <if test="endTime!=null">and order_time &lt; #{endTime}</if>
            <if test="status!=null">and status = #{status}</if>
        </where>
    </select>
    <select id="findGoodSales" resultType="com.sky.dto.GoodsSalesDTO">
        select od.name name, SUM(od.number) number from  orders o left join order_detail od on o.id = od.order_id
        <where>
            and status = 5
            <if test="startTime!=null">and order_time &gt; #{beginTime}</if>
            <if test="endTime!=null">and order_time &lt; #{endTime}</if>
        </where>
        group by od.name order by number desc limit 0,10
    </select>

    <select id="turnOver" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="startTime != null">and order_time &gt; #{begin}</if>
            <if test="endTime != null">and order_time &lt; #{end}</if>
            and status = 5
        </where>
    </select>

</mapper>
