<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (openid, name, phone, sex, id_number, avatar, create_time)
        VALUES (#{openid},#{name},#{phone},#{sex},#{idNumber},#{avatar},#{createTime})
    </insert>

    <select id="CountUser" resultType="integer">
        select count(*) from user
        <where>
            <if test="dayEnd!=null">and create_time &lt; #{dayEnd}</if>
            <if test="dayStart!=null">and create_time &gt; #{dayStart}</if>
        </where>
    </select>

</mapper>
